@import "tailwindcss";
@import "@fortawesome/fontawesome-free/css/all.min.css";

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.spin {
  animation: spin 6s linear infinite;
}

@font-face {
  font-family: "Tangerine";
  src: url("https://fonts.googleapis.com/css2?family=Tangerine:wght@400;700&display=swap")
    format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.tangerine-bold {
  font-family: "Tangerine", cursive;
  font-weight: 700;
  font-style: normal;
}
